<div {{bind-attr class=":panel active:panel-warning:panel-default"}}>
    <div class="panel-heading">
        <h3 class="panel-title">{{description.name}}</h3>
    </div>
    <div class="panel-body">
        {{#each card in sortedCards}}
            {{kanban-card card=card delegate=delegate}}
        {{/each}}
        <div {{bind-attr class="bottomZoneActive::hidden"}}>
            {{column-bottom-dropzone delegate=delegate column=position}}
        </div>
    </div>
</div>