<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/dashboard">Simply Kanban</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="navigation-pages nav navbar-nav">
                {{#each page in navigationPages}}
                    <li {{bind-attr class="page.active"}}>
                        <a {{bind-attr href=page.href}}>{{page.display}}</a>
                    </li>
                {{/each}}
            </ul>

            {{#if session.authenticated}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{session.user.username}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/account">Manage Account</a></li>
                            <li class="divider"></li>
                            <li><a href="#" {{action "logout"}}>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {{else}}
                <form {{bind-attr class=":navbar-form :navbar-right loginError:has-error"}} {{action "login" on="submit"}}>
                    <div class="form-group">
                        {{input type="text" class="form-control" placeholder="username" value=loginUsername tabindex="1"}}
                    </div>
                    <div class="form-group">
                        {{input type="password" class="form-control" placeholder="password" value=loginPassword tabindex="2"}}
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="3">Login</button>
                    <button type="button" class="btn btn-link" tabindex="4" {{action "openRegistrationModal"}}>
                        Sign Up
                    </button>
                </form>
            {{/if}}
        </div>
    </div>
</nav>

<div {{bind-attr class=":register-modal modalOpen::hidden"}}>
    <div class="row">
        <div class="registration-form col-md-offset-3 col-md-6">
            <h1>
                <small>Register</small>
            </h1>

            <form {{bind-attr class=":form-horizontal"}} {{action "register" on="submit"}}>

                {{#if registrationError}}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" role="alert">
                                {{{registrationError}}}
                            </div>
                        </div>
                    </div>
                {{/if}}

                <div {{bind-attr class=":form-group usernameError:has-error"}}>
                    <label for="signup-username" class="col-sm-5 control-label">Username</label>

                    <div class="col-sm-7">
                        {{input type="text" class="form-control" id="signup-username" placeholder="username" value=registrationUsername}}
                    </div>
                </div>

                <div {{bind-attr class=":form-group passwordWarning:has-warning passwordError:has-error"}}>
                    <label for="signup-password" class="col-sm-5 control-label">Password</label>

                    <div class="col-sm-7">
                        {{input type="password" class="form-control" id="signup-password" placeholder="password" value=registrationPassword}}
                    </div>
                </div>

                <div {{bind-attr class=":form-group passwordWarning:has-warning passwordError:has-error"}}>
                    <label for="signup-password-repeat" class="col-sm-5 control-label">Re-enter Password</label>

                    <div class="col-sm-7">
                        {{input type="password" class="form-control" id="signup-password-repeat" placeholder="re-enter password" value=passwordRepeat}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button type="submit" class="btn btn-default">Sign Up</button>
                        <button type="button" class="btn btn-link" {{action "closeRegistrationModal"}}>
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>