<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Simply Kanban</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            {{#if session.authenticated}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">
                        Welcome {{session.user.username}}!
                    </li>
                    <li>
                        <button type="button" class="btn btn-link navbar-btn" {{action "logout"}}>
                            Logout
                        </button>
                    </li>
                </ul>
            {{else}}
                <form {{bind-attr class=":navbar-form :navbar-right loginError:has-error"}} {{action "login" on="submit"}}>
                    <div class="form-group">
                        {{input type="text" class="form-control" placeholder="username" value=loginUsername}}
                    </div>
                    <div class="form-group">
                        {{input type="password" class="form-control" placeholder="password" value=loginPassword}}
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="register-button btn btn-link" {{action "register"}}>
                        Sign Up
                    </button>
                </form>
            {{/if}}
        </div>
    </div>
</nav>