<div class="account-management row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Account Information</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" {{action "changePassword" on="submit"}}>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Username</label>

                        <div class="col-sm-9">
                            <p class="form-control-static">{{username}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div {{bind-attr class=":alert alertType"}} role="alert">
                                {{{alertText}}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="changePasswordOld" class="col-sm-3 control-label">Change password</label>

                        <div class="col-sm-6">
                            {{input type="password" class="form-control" id="changePasswordOld" placeholder="old password" value=changePasswordOld}}
                        </div>
                    </div>
                    <div {{bind-attr class=":form-group passwordMatchWarning:has-warning"}}>
                        <div class="col-sm-offset-3 col-sm-3">
                            {{input type="password" class="form-control" id="changePasswordNew" placeholder="new password" value=changePasswordNew}}
                        </div>
                        <div class="col-sm-3">
                            {{input type="password" class="form-control" id="changePasswordRepeat" placeholder="re-enter password" value=changePasswordRepeat}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-3">
                            <button type="submit" {{bind-attr class=":btn :btn-primary readyToSubmit::disabled"}}>
                                Change
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
